body {
  padding: 0;
  margin: 0; }

.hvr-shutter-out-vertical {
  background-color: #ffffff; }

.hpimg-1, .hpimg-2, .hpimg-3, .hpimg-4, .hpimg-5 {
  position: relative;
  background-size: 132% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.hpimg-1 {
  width: 100%;
  top: 40px;
  height: 100vh;
  background-image: url("assets/images/sadness-africa.jpg"); }

.hpimg-2 {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #D4D3D3, #FDFCFC, #FDFCFC, #DBDADA);
  top: 40px; }

.hpimg-3 {
  width: 100%;
  height: auto;
  background-image: linear-gradient(#FFFFFF);
  top: 40px; }

.hpimg-4 {
  width: 100%;
  height: auto;
  background-image: url("assets/images/african-orphan.jpg");
  top: 40px; }

.hpimg-5 {
  width: 100%;
  top: 40px;
  height: 95vh;
  background-image: url("assets/images/sadness-africa.jpg"); }

.section1 {
  padding: 1em 0;
  position: relative; }

.headerGDP {
  color: white;
  top: 7px; }

.text, .reactText {
  font-size: 1em;
  margin-top: 5%;
  padding-right: 10px;
  position: relative; }

.reactText {
  margin: 0; }

.textGDP {
  font-size: 1em;
  top: 82px;
  padding-right: 10px;
  color: white; }

.bottomLine {
  width: 100%;
  height: 5px;
  background-color: orange;
  padding-right: 10px;
  opacity: 0.90;
  display: block;
  margin-top: 30px; }

#hptextimg-1, #hptextimg-2, #hptextimg-3, #hptextimg-4, .MotherTeresaImg {
  background-size: 100% 100%;
  position: relative; }

#hptextimg-1 {
  width: 60%;
  height: 120px;
  top: 66px;
  background-image: url(assets/images/Asia-poverty.jpg); }

#hptextimg-2 {
  width: 50%;
  height: 112px;
  top: -145px;
  right: -49%;
  background-image: url(assets/images/india-kids.jpg); }

#hptextimg-3 {
  width: 60%;
  height: 130px;
  top: -29px;
  background-image: url("assets/images/Starving -African-Child.jpg"); }

#hptextimg-4 {
  width: 50%;
  height: 112px;
  top: -49px;
  right: -49%;
  background-image: url(assets/images/starvation.jpg); }

.MotherTeresaQuote {
  top: 33px;
  text-transform: uppercase;
  color: white; }

.MotherTeresaImg {
  width: 50%;
  height: 100px;
  left: 52%;
  z-index: -0;
  border-radius: 20px;
  background-image: url(assets/images/Mother-Teresa.jpg); }

.textHP1 {
  color: black;
  padding-top: 23%;
  padding-left: 10px; }

.textHP2 {
  color: white;
  padding-top: 150px;
  padding-left: 10px; }

.more {
  display: none; }

#map {
  height: 400px;
  width: 100%; }

/*Statistics Page*/
.chartStyling1 {
  margin: 50px 10px; }

.statisticsHeading {
  margin: 50px 10px; }

.chartText1 {
  margin-left: 10%; }

/*Charity Page*/
.charitiesH1 {
  padding-top: 50px; }

.charity-1-collapse {
  width: 100%;
  font-size: 15px;
  background-color: lightblue;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none; }

.charity-1-collapse:hover {
  background-color: blue;
  transition: 0.2s ease-in-out; }

.charity1-text {
  padding: 0 18px;
  white-space: pre-line;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 10px;
  transition: max-height 0.2s ease-in-out;
  background-color: #f1f1f1; }

.charity-1-collapse:after {
  content: '\02795';
  font-size: 15px;
  float: right;
  margin-left: 5px; }

@media (min-width: 576px) {
  .textHP1 {
    padding-top: 33%; }

  #hptextimg-1 {
    width: 47%;
    height: 156px;
    left: 40px;
    position: relative;
    top: 24%;
    z-index: 1; }

  #hptextimg-2 {
    width: 43%;
    height: 147px;
    top: -176px;
    position: relative;
    z-index: 0; }

  #hptextimg-3 {
    width: 47%;
    height: 156px;
    left: 40px;
    position: relative;
    top: 24%;
    z-index: 1; }

  #hptextimg-4 {
    width: 43%;
    height: 147px;
    top: -8%;
    position: relative;
    z-index: 0; }

  .headerGDP {
    color: white;
    position: relative;
    top: 56px; }

  .textGDP {
    font-size: 26px;
    padding-top: 0%;
    position: relative;
    padding-right: 10px;
    color: white; }

  .MotherTeresaQuote {
    top: 76px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    position: relative;
    padding-bottom: 37px; }

  .MotherTeresaImg {
    width: 32%;
    height: 129px;
    top: 1px;
    left: 70%;
    border-radius: 20px; } }
@media (min-width: 768px) {
  #hptextimg-1 {
    height: 239px;
    top: 38%;
    left: 72px;
    position: relative; }

  #hptextimg-2 {
    top: -53%;
    height: 230px;
    position: relative; }

  #hptextimg-3 {
    height: 239px;
    top: 8%;
    left: 72px;
    position: relative; }

  #hptextimg-4 {
    top: -15%;
    height: 230px;
    position: relative; }

  .header {
    margin-top: 9px; }

  .text {
    font-size: 26px;
    margin-top: 5%;
    padding-right: 10px;
    position: relative; }

  .textHP1 {
    font-size: 26px; }

  .textGDP {
    font-size: 26px;
    top: 144px;
    padding-right: 10px;
    position: relative;
    color: white; }

  .MotherTeresaQuote {
    font-size: 26px;
    position: relative;
    top: 156px;
    padding-bottom: 197px; }

  .MotherTeresaImg {
    width: 54%;
    height: 325px;
    position: relative;
    left: 57%;
    top: -39px; } }
@media (min-width: 1200px) {
  #orphan {
    width: 30%;
    top: 7%; }

  #kids {
    top: 15%; }

  .text {
    font-size: 30px; }

  .textHP1 {
    margin-top: 10%;
    padding-top: 100px;
    padding-left: 40px;
    font-size: 26px; } }

/*# sourceMappingURL=style.css.map */
