body {
    padding: 0;
    margin: 0;
}

.hvr-shutter-out-vertical {
    background-color: #ffffff;
}

%background {
    position: relative;
    background: {
        size: 132% 100%;
        position: center;
        attachment: fixed;
        repeat: no-repeat;


    }
}

@mixin box ($size, $background-image1) {
    height: $size;
    background-image: $background-image1;
}


.hpimg-1 {
    width: 100%;
    top: 40px;
    @include box(100vh,
    url('/assets/images/sadness-africa.jpg'));
    @extend %background,
}


.hpimg-2 {
    width: 100%;
    @include box(auto,
    linear-gradient(to right, #D4D3D3, #FDFCFC, #FDFCFC, #DBDADA));
    top: 40px;
    @extend %background,
}

.hpimg-3 {
    width: 100%;
    @include box(auto,
    linear-gradient(#FFFFFF));
    top: 40px;
    @extend %background,
}

.hpimg-4 {
    width: 100%;
    @include box(auto,
    url('/assets/images/african-orphan.jpg'));
    top: 40px;
    @extend %background,
}

.hpimg-5 {
    width: 100%;
    top: 40px;
    @include box(95vh,
    url('/assets/images/sadness-africa.jpg'));
    @extend %background,
}



.section1 {
    padding: 1em 0;
    position: relative;
}

.headerGDP {
    color: white;
    top: 7px;
}

%textStyling {
    font-size: 1em;
    margin-top: 5%;
    padding-right: 10px;
    position: relative;
}

.text {
    @extend %textStyling
}

.reactText {
    margin: 0;
    @extend %textStyling
}

.textGDP {
    font-size: 1em;
    top: 82px;
    padding-right: 10px;
    color: white;
}

.bottomLine {
    width: 100%;
    height: 5px;
    background-color: orange;
    padding-right: 10px;
    opacity: 0.90;
    display: block;
    margin-top: 30px;
}



@mixin box ($img-width,
$img-height) {
    width: $img-width;
    height: $img-height;
}

%regularBGSizeAndPos {
    background-size: 100% 100%;
    position: relative;
}

#hptextimg-1 {
    @include box(60%,
    120px);
    top: 66px;
    background-image: url(/assets/images/Asia-poverty.jpg);
    @extend %regularBGSizeAndPos
}

#hptextimg-2 {
    @include box(50%,
    112px);
    top: -145px;
    right: -49%;
    background-image: url(/assets/images/india-kids.jpg);
    @extend %regularBGSizeAndPos
}

#hptextimg-3 {
    @include box(60%,
    130px);
    top: -29px;
    background-image: url('/assets/images/Starving -African-Child.jpg');
    @extend %regularBGSizeAndPos
}

#hptextimg-4 {
    @include box(50%,
    112px);
    top: -49px;
    right: -49%;
    background-image: url(/assets/images/starvation.jpg);
    @extend %regularBGSizeAndPos
}

.MotherTeresaQuote {
    top: 33px;
    text-transform: uppercase;
    color: white;
}

.MotherTeresaImg {
    @include box(50%,
    100px);
    left: 52%;
    z-index: -0;
    border-radius: 20px;
    background-image: url(/assets/images/Mother-Teresa.jpg);
    @extend %regularBGSizeAndPos
}



.textHP1 {
    color: black;
    padding-top: 23%;
    padding-left: 10px;
}

.textHP2 {
    color: white;
    padding-top: 150px;
    padding-left: 10px;
}

.jumbotron {
    opacity: .5;
    height: 500px;
    position: relative;
}



@media (min-width: 576px) {
    .textHP1 {
        padding-top: 33%;
    }

    #hptextimg-1 {
        @include box(47%,
        156px);
        left: 40px;
        position: relative;
        top: 24%;
        z-index: 1;
    }

    #hptextimg-2 {
        @include box(43%,
        147px);
        top: -176px;
        position: relative;
        z-index: 0;
    }

    #hptextimg-3 {
        @include box(47%,
        156px);
        left: 40px;
        position: relative;
        top: 24%;
        z-index: 1;
    }

    #hptextimg-4 {
        @include box(43%,
        147px);
        top: -8%;
        position: relative;
        z-index: 0;
    }

    .headerGDP {
        color: white;
        position: relative;
        top: 56px;
    }

    .textGDP {
        font-size: 26px;
        padding-top: 0%;
        position: relative;
        padding-right: 10px;
        color: white;
    }

    .MotherTeresaQuote {
        top: 76px;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        position: relative;
        padding-bottom: 37px;
    }

    .MotherTeresaImg {
        @include box(32%,
        129px);
        top: 1px;
        left: 70%;
        border-radius: 20px;
    }

}





@media (min-width: 768px) {
    #hptextimg-1 {
        height: 239px;
        top: 38%;
        left: 72px;
        position: relative;
    }


    #hptextimg-2 {
        top: -53%;
        height: 230px;
        position: relative;
    }

    #hptextimg-3 {
        height: 239px;
        top: 8%;
        left: 72px;
        position: relative;
    }

    #hptextimg-4 {
        top: -15%;
        height: 230px;
        position: relative;
    }

    .header {
        margin-top: 9px;
    }

    .text {
        font-size: 26px;
        margin-top: 5%;
        padding-right: 10px;
        position: relative;
    }

    .textHP1 {
        font-size: 26px;
    }

    .textGDP {
        font-size: 26px;
        top: 144px;
        padding-right: 10px;
        position: relative;
        color: white;
    }

    .MotherTeresaQuote {
        font-size: 26px;
        position: relative;
        top: 156px;
        padding-bottom: 197px;
    }


    .MotherTeresaImg {
        @include box(54%,
        325px);
        position: relative;
        left: 57%;
        top: -39px;
    }
}

@media (min-width: 1200px) {
    #orphan {
        width: 30%;
        top: 7%;
    }

    #kids {
        top: 15%;
    }



    .text {
        font-size: 30px;
    }

    .textHP1 {
        margin-top: 10%;
        padding-top: 100px;
        padding-left: 40px;
        font-size: 26px;
    }
}
