/*Homepage*/

%background {
    position: relative;
    background: {
        attachment: fixed;
        repeat: no-repeat;
    }
}

.hpimg-1 {
    @extend %background,
}

.hpimg-2 {
    @extend %background,
}

.hpimg-3 {
    @extend %background,
}

.hpimg-4 {
    @extend %background,
}

.hpimg-5 {
    @extend %background,
}

%textStyling {
    font-size: 1em;
    margin-top: 5%;
    padding-right: 10px;
    position: relative;
}


%sectionStyle {
    margin: 15px 0;
    padding: 1em 0;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    height: auto;
}

%sectionTop {
    top: 20%;
}

.top-section {
    @extend %sectionStyle;
}

.section {
    @extend %sectionStyle;
    @extend %sectionTop;
}

.section2 {
    @extend %sectionStyle;
    @extend %sectionTop;
}

.section3 {
    @extend %sectionStyle;
    @extend %sectionTop;
}

.text {
    @extend %textStyling;
}

.text2 {
    @extend %textStyling
}

%regularBGSizeAndPos {
    left: 25%;
    background-size: cover;
    position: relative;
    background-position: center;
    border-radius: 3%;

}

#hptextimg-1 {
    @extend %regularBGSizeAndPos
}

#hptextimg-4 {
    @extend %regularBGSizeAndPos
}

.MotherTeresaImg {
    @extend %regularBGSizeAndPos
}




/*Charity Page*/

%charityCarouselPics {
    width: 100%;
    height: 74vh;
    background-size: cover;
    background-position: center;
}

.charityAsiaPic1 {
    @extend %charityCarouselPics;
    background-image: url('../images/Charity-Images/India-Poverty.jpg');

}

.charityAfricaPic {
    @extend %charityCarouselPics;
    background-image: url('../images/Charity-Images/Children-Uganda.jpg');
}

.charityAsiaPic2 {
    @extend %charityCarouselPics;
    background-image: url('../images/Charity-Images/Jakarta-Slum.jpeg');
}

.charityEuropePic1 {
    @extend %charityCarouselPics;
    background-position: bottom;
    background-image: url('../images/Charity-Images/Refugee-Child.jpg');

}

.charitySAPic {
    @extend %charityCarouselPics;
    background-image: url('../images/Charity-Images/Haiti-Poverty.jpeg');

}

.charityEuropePic2 {
    @extend %charityCarouselPics;
    background-image: url('../images/Charity-Images/EuropeRefugees.jpg');

}

.charityRedCrossPic {
    @extend %charityCarouselPics;
    background-image: url('../images/Charity-Images/American-Red-Cross.jpg');
}

.disasterReliefRedCrossPic {
    @extend %charityCarouselPics;
    background-image: url('../images/Charity-Images/Disaster-Relief-Red-Cross.jpg');
}


/*Charity Page Carousel Arrows*/

%carouselArrows {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    @extend %carouselArrows;
}

.carousel-control-next-icon {
    @extend %carouselArrows;
}

/*Aside Styles*/

%asideStyles {
    display: block;
    text-align: center;
    padding: 10px 5px 10px;
    transition: all 0.3s ease;
    color: $white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 23px;
    text-align: right;
    margin: 20px 0;
}

.social-media-button a {
    @extend %asideStyles
}


/*Footer Social Media Icons*/

%footericons {
    width: 40px;
    height: 40px;
    list-style: none;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid blue;
    border-radius: 50%;
    text-align: center;
}

.facebook-footer {
    @extend %footericons
}

.twitter-footer {
    @extend %footericons
}

.youtube-footer {
    @extend %footericons
}

.instagram-footer {
    @extend %footericons
}
