$phone-width: 576px;
$tablet-width: 768px;
$large-desktop-width: 1200px;

@mixin phone {
    @media (min-width: $phone-width) {
        /*Homepage*/
        .textHP1 {
            padding-top: 33%;
            font-size: 26px;
        }

        .section,
        .section2,
        .section3 {
            margin-left: 44px;
        }

        .headerGDP {
            color: $white;
            position: relative;
            top: 56px;
        }

        .text2 {
            font-size: 26px;
        }

        .textGDP {
            font-size: 26px;
            padding-top: 0%;
            position: relative;
            padding-right: 10px;
            color: $white;
        }

        .MotherTeresaQuote {
            top: 135px;
            font-size: 20px;
            text-transform: uppercase;
            color: $white;
            position: relative;
            padding-bottom: 37px;
        } //Statistics Texts
        .chartText {
            margin-left: 10%;
        }
        #statistics-article {
            padding-left: 50px;
        } //Aside Social Media Buttons
        .social-media-button {
            width: 5.5%;
        } //Footers
        #footer {
            height: 110px
        } // Contact Page
        .text-box-length {
            width: 500px;
        }
        .textHP2 {
            padding-left: 60px;
        }
    }
}

@include phone;


@mixin tablet {
    @media (min-width: $tablet-width) {
        /*Homepage*/
        .hpimg-2 {
            height: 975px;
        }

        .hpimg-3 {
            height: 975px;
        }

        .hpimg-4 {
            height: 975px;
        }

        .header {
            margin-top: 9px;
        }

        .text {
            font-size: 26px;
            margin-top: 5%;
            padding-right: 10px;
            position: relative;
        }

        .section1 {
            bottom: 20px;
            padding-top: 10%;
            position: relative;
        }

        .textGDP {
            font-size: 26px;
            top: 144px;
            padding-right: 10px;
            position: relative;
            color: $white;
        }

        .MotherTeresaQuote {
            font-size: 26px;
            position: relative;
            top: 156px;
            padding-bottom: 197px;
        }

        .textHP1 {
            margin-top: 0;
        }

        .section2 {
            top: -1%;
            margin-left: 44px;
        } //Statistics Page
        .chartText {
            text-align: center;
        }

        .chartStyling {
            background-color: $white;
            margin: 7% 0;
        }

        .graph-color {
            color: $black;
        } // Contact Page
        .text-box-length {
            width: 650px;
        }
    }
}

@include tablet;


@mixin large-desktop {
    @media (min-width: $large-desktop-width) {
        /*Homepage*/
        .hpimg-2 {
            width: 100%;
            height: 1000px;
            top: 40px;
        }

        .hpimg-3 {
            width: 100%;
            height: 1000px;
            top: 40px;
        }

        .hpimg-4 {
            height: 1000px;
        }

        .text {
            font-size: 30px;
        }

        .text2 {
            font-size: 2em;
        }

        .textGDP {
            font-size: 2em;
        }

        .textHP1 {
            padding-top: 100px;
            padding-left: 40px;
            font-size: 26px;
            margin-top: 100px;
        }

        .section,
        .section2,
        .section3 {
            margin-left: 120px
        }

        .textHP2 {
            padding-left: 130px
        } //Aside Social Media Buttons
        .social-media-button {
            left: -35px;
        }

        .sideCalculator:hover {
            background-color: $sideCalculatorHover;
            transform: translateX(23px) translateY(-50%);
        }

        .facebook:hover {
            background-color: $facebookHover;
            transform: translateX(23px);
        }

        .twitter:hover {
            background-color: $twitterHover;
            transform: translateX(23px);
        }

        .instagram:hover {
            background-color: $instagramHover;
            transform: translateX(23px);
        }

        .youtube:hover {
            background-color: $youtubeHover;
            transform: translateX(23px);
        } //Statistics Page
        #statistics-article {
            padding-right: 50px;
        } // Contact Page
        .text-box-length {
            width: 1100px;
        }
    }
}

@include large-desktop;
