$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin phone {
    @media (min-width: $phone-width) {
        /*Homepage*/
        .textHP1 {
            padding-top: 33%;
            font-size: 26px;
        }

        #hptextimg-1 {
            @include box(350px,
            185px);
            position: relative;
            top: 24%;
            z-index: 1;
        }

        #hptextimg-4 {
            @include box(350px,
            185px);
            top: -8%;
            position: relative;
            z-index: 0;
        }

        .headerGDP {
            color: $white;
            position: relative;
            top: 56px;
        }

        .text2 {
            font-size: 26px;
        }

        .textGDP {
            font-size: 26px;
            padding-top: 0%;
            position: relative;
            padding-right: 10px;
            color: $white;
        }

        .MotherTeresaQuote {
            top: 135px;
            font-size: 20px;
            text-transform: uppercase;
            color: $white;
            position: relative;
            padding-bottom: 37px;
        }

        .MotherTeresaImg {
            @include box(32%,
            129px);
            top: 94px;
            left: 67%;
            border-radius: 20px;
        }
    }
}

@include phone;


@mixin tablet {
    @media (min-width: $tablet-width) {
        /*Homepage*/
        .hpimg-2 {
            width: 100%;
            height: 900px;
        }

        #hptextimg-1 {
            height: 200px;
            top: 330px;
            left: 72px;
        }

        #hptextimg-2 {
            top: -56px;
            height: 204px;
        }

        #hptextimg-3 {
            height: 239px;
            top: 8%;
            left: 72px;
            position: relative;
        }

        #hptextimg-4 {
            top: -15%;
            height: 230px;
            position: relative;
        }

        .header {
            margin-top: 9px;
        }

        .text {
            font-size: 26px;
            margin-top: 5%;
            padding-right: 10px;
            position: relative;
        }

        .section1 {
            bottom: 20px;
            padding-top: 10%;
            position: relative;
        }

        .textGDP {
            font-size: 26px;
            top: 144px;
            padding-right: 10px;
            position: relative;
            color: $white;
        }

        .MotherTeresaQuote {
            font-size: 26px;
            position: relative;
            top: 156px;
            padding-bottom: 197px;
        }


        .MotherTeresaImg {
            @include box(54%,
            325px);
            position: relative;
            left: 57%;
            top: -39px;
        }
        .textHP1 {
            margin-top: 0;
        }

        .hpimg-2 {
            top: 85px;
        }

        .hpimg-4 {
            top: 85px;
        }
    }
}

@include tablet;


@mixin large-desktop {
    @media (min-width: $large-desktop-width) {
        /*Homepage*/
        .hpimg-2 {
            width: 100%;
            height: 900px;
            top: 48px;
        }

        #hptextimg-1 {
            height: 400px;
            top: 41%;
            left: 100px;
        }

        #hptextimg-2 {
            top: -56%;
            height: 400px;
            position: relative;
        }

        .text {
            font-size: 30px;
        }

        .text2 {
            font-size: 2em;
        }

        .textGDP {
            font-size: 2em;
        }

        .textHP1 {
            padding-top: 100px;
            padding-left: 40px;
            font-size: 26px;
            margin-top: 100px;
        }

        #hptextimg-3 {
            height: 400px;
        }

        #hptextimg-4 {
            height: 400px;
        }
    }
}

@include large-desktop;
