@mixin box ($size, $background-image1) {
    height: $size;
    background-image: $background-image1;
}

.hpimg-1 {
    width: 100%;
    top: 40px;
    @include box(98vh,
    (linear-gradient(to right, rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('../images/sadness-africa.jpg')));
    background-size: 132% 100%;
}

.hpimg-2 {
    width: 100%;
    @include box (900px,
    (linear-gradient(to right, rgba(1, 1, 1, .4), rgba(1, 1, 1, 0), rgba(1, 1, 1, .4)), url('../images/india-kids.jpg')));
    top: 40px;
    background-size: cover;
    background-attachment: fixed;
}

.hpimg-3 {
    width: 100%;
    @include box(900px,
    url('../images/african-orphan.jpg'));
    top: 40px;
    background-size: cover;
}

.hpimg-4 {
    width: 100%;
    @include box (775px,
    (linear-gradient(to right, rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('../images/Starving -African-Child.jpg')));
    top: 40px;
    background-attachment: fixed;
    background-size: cover;
}

.hpimg-5 {
    width: 100%;
    top: 40px;
    @include box(97vh,
    url('../images/sadness-africa.jpg'));
    background-size: 132% 100%;
}