@mixin box ($size, $background-image1) {
    height: $size;
    background-image: $background-image1;
}

.hpimg-1 {
    width: 100%;
    top: 40px;
    @include box(auto,
    (linear-gradient(to right, rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('../images/sadness-africa.jpg')));
    padding: 60px 0;
    background-position: right;
    background-size: cover;
    
}

.hpimg-2 {
    width: 100%;
    @include box (900px,
    (linear-gradient(to right, rgba(1, 1, 1, .4), rgba(1, 1, 1, 0), rgba(1, 1, 1, .4)), url('../images/starvation.jpg')));
    top: 40px;
    background-position: center;
}

.hpimg-3 {
    width: 100%;
    @include box(900px,
    url('../images/Starving -African-Child.jpg'));
    top: 40px;
    background-position: center;
    background-size: cover;
}

.hpimg-4 {
    width: 100%;
    @include box (775px,
    (linear-gradient(to right, rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('../images/india-kids.jpg')));
    top: 40px;
    background-position: center;
}

.hpimg-5 {
    width: 100%;
    top: 40px;
    @include box(97vh,
    url('../images/sadness-africa.jpg'));
    background-position: right;
}