$white: #FFFFFF;
$blue: #0188FE;
$lightBlue: #01C3FE;
$skyblue: #D6FEFE;
$donateBodyBlue: #2098d1;
$HPBGgrey: linear-gradient(to right, #D4D3D3, #FDFCFC, #FDFCFC, #DBDADA);
$orange: #FEB624;
$darkerGreen: #11fe00;
$green: #8ffe00;
$black: #000000;
$navbarBlue: #007bff;