@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.red-count {
    color: red;
    font-weight: 600;
    font-size: 27px;
}

.blue-seconds {
    color: blue;
    font-weight: 600;
}

.top-section {
    /*top: 10%;*/
    top: 0;
}

.top-section-counter-BG {
    background-color:  rgba(225, 0, 0, 0.3);
    border-radius: 2%;
    border: 2px solid;
    color: $white;
    position: relative;
    top: -15%;
    /*top: 32%;*/
}

.header {
    font-weight: 800;
}
.headerGDP {
    color: $white;
    top: 7px;
    font-weight: 800;
}

.textHP1 {
    font-weight: 600;
}

.textHP2 {
    color: $white;
    padding-top: 150px;
    font-weight: 600;
}

.text2 {
    font-weight: 600;
}

.textGDP {
    font-size: 1em;
    top: 82px;
    padding-right: 10px;
    color: $white;
    font-weight: 600;
}

.MotherTeresaQuote {
    top: 115px;
    text-transform: uppercase;
    color: $white;
    font-style: italic;
}

.more {
    display: none;
}

.underline {
    text-decoration: underline;

}