@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


.red-count {
    color: red;
    font-weight: 600;
}

.blue-seconds {
    color: blue;
}

.top-section {
    padding: 1em 0.5em 0;
}

.top-section-counter-BG {
    background-color:  $counterBG;
    color: $white;
    position: relative;
}

.headerGDP {
    color: $black;
    top: 7px;
}

.textHP2 {
    color: $black;
}

.textGDP {
    top: 82px;
    padding-right: 10px;
    color: $black;
}

.MotherTeresaQuote {
    top: 115px;
    text-transform: uppercase;
    color: $black;
    font-style: italic;
}

.more {
    display: none;
}

.underline {
    text-decoration: underline;
}