@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800&display=swap');


#map {
    height: 100vh;
    width: 100%;
    top: 40px;
    margin-top: -40px;
}

.mapInstruction {
    padding: 10% 0;
    color: $white;
}