.chartText {
    color: $white;
}

.no-content-BG {
    background: $white;
}

.statisticsHeading {
    margin-left: 10px;
    margin-top: 90px;
    color: $white;
}

.graph-color {
    color: $white;
}

