.chartText {
    margin-left: 10%;
    color: $white;
}

.statisticsHeading {
    margin-left: 10px;
    margin-top: 90px;
    margin-bottom: 50px;
    color: $white;
}

.graph-color {
    color: $white;
}

#statistics-article {
    padding-left: 50px;
}