/* Fixed Icon */

.social-media-button {
  position: fixed;
  top: 50%;
  width: 10%;
  transform: translateY(-50%);
}





/* Social Media Icons*/

.sideCalculator:hover {
  background-color: $sideCalculatorHover;
}

.facebook:hover {
  background-color: $facebookHover;
}

.twitter:hover {
  background-color: $twitterHover;
}

.instagram:hover {
  background-color: $instagramHover;
}

.youtube:hover {
  background-color: $youtubeHover;
}

.facebook {
  background: $facebookBGColor;
  color: $white;
}

.twitter {
  background: $twitterBGColor;
  color: $white;
}

.instagram {
  background: $instagramBGColor;
  color: $white;
}

.youtube {
  background: $youtubeBGColor;
  color: $white;
}


.sideCalculator {
  transform: translateY(-50%);
  background-color: $sideCalculatorColor;
  color: white;
}