
//Homepage
.donateButtonStyleHP {
    height: 70px;
    font-size: 35px;
    opacity: 0.7;
    border: solid #FFF;
    border-radius: 10px;
    transition: 0.2s;
    background-image: linear-gradient(#17a2b8, #01557b);
    color: $white;
    border: none;
}

.donateButtonStyleHP:hover {
    opacity: 1;
    border: solid #FFF;
    color: $white;
}

.readBtn {
    background-image: linear-gradient(#17a2b8, #01557b);
    color: white;
    border: none;
}

//Donate Page
.charity-collapse {
    width: 100%;
    font-size: 15px;
    background-color: $lightBlue;
    color: $white;
    padding: 18px;
    border: none;
}

.charity-collapse:hover {
    background-color: $blue;
    transition: 0.2s ease-in-out;
}

.donateButtonStyle {
    background-color: $green;
    margin-bottom: 10px;
    color: $white;

}

.donateButtonStyle:hover {
    background-color: $darkerGreen;
    transition: 0.2 ease-in-out;
    color: $white;
}


// Calculator
#calculator-wrapper {
    position: fixed;
    z-index: 999;
    width: 20%;
    left: 40%;
    bottom: 70%;
}

.calculatorSection {
    position: absolute;
}

#calculatorSectionHeader {
    z-index: 10;
}

.calcTextBG {
    cursor: move;
    padding: 0;
    width: 91%;
    left: 5%;
    background-color: lightblue;
    border: 1px solid blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.screen {
    width: 100%;
    font-size: 1.5rem;
    background: rgb(41, 41, 56);
    color: white;
    border: none;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}

.btn-equal {
    width: 100%;
    font-size: 1.5rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.calcBtnStyle {
    flex: 0 0 25%;
    border: 1px solid black;
    padding: 2px 0;
    transition: all 0.5s ease-in-out;
}

.calcBtnStyle:hover {
    background: blue;
}

.calcBtnYellow {
    background: lightYellow;
}

.calcBtnGrey {
    background: grey;
}

.calcBtnGreen {
    background: green;
}

.calcBtnRed {
    background: red;
} //Contact Page
#submitBtn {
    background-image: linear-gradient(#17a2b8, #01557b);
    color: $white;
    display: flex;
    align-content: flex-end;
}