body {
    padding: 0;
    margin: 0;
}

.section1 {
    padding: 1em 0;
    position: relative;
}

.headerGDP {
    color: $white;
    top: 7px;
}

.textGDP {
    font-size: 1em;
    top: 82px;
    padding-right: 10px;
    color: $white;
}

.bottomLine {
    width: 100%;
    height: 5px;
    background-color: $orange;
    padding-right: 10px;
    opacity: 0.90;
    display: block;
    margin-top: 30px;
}

.MotherTeresaQuote {
    top: 33px;
    text-transform: uppercase;
    color: $white;
}

.textHP1 {
    color: $black;
    padding-top: 23%;
    padding-left: 10px;
}

.textHP2 {
    color: $white;
    padding-top: 150px;
    padding-left: 10px;
}


.more {
    display: none;
}